
.header__nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 20px 0;
    padding: 0 20px;
}

.header__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height: 120px;
}

.header__link{
    text-decoration: none;
    color: #949494;
    font-size: 36px;
    font-family: 'Pangolin', sans-serif;
    transition: 0.2s;
}

.header__link:hover{
    color: black;
}

.menu__btn-box {
    position: relative;
}

.menu-hidden {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.menu-visible {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    border-radius: 6px;
    padding: 10px;
    width: 150px;
    transition: height 0.3s ease-in;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 600px) {
    .header__nav{
        margin-bottom: 0;
    }
}